.bodyCapitale {
            background-image: url('img_capitale.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }



body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

#game-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.correct {
    color: green; /* vert */
    border: 1px solid green; /* Ajoute une bordure verte */
}

.incorrect {
    color: red; /* rouge */
    border: 1px solid red; /* Ajoute une bordure rouge */
}

.question-text {
    color: blue;
}

.answer {
    color: blue;
}

.title {
    font-weight: bold;
}


/* Style de base pour le champ de saisie */
#answer {
    border: 1px solid #ccc;
    padding: 5px;
}

/* Style pour la réponse correcte */
#answer.correct {
    color: green;
}

/* Style pour la réponse incorrecte */
#answer.incorrect {
    color: red;
}


#game-container {
    background-color: white; /* Remplacez "blue" couleur arrière plan pour ma div*/
}


/* Pour mettre la réponse en gras */
#answer.gras {
    font-weight: bold;
}

/* Pour mettre la réponse en couleur */
#answer.couleur {
    color: red; /* Vous pouvez changer "red" à n'importe quelle couleur que vous préférez */
}








